<div class="content">
  <div class="box">
    <div class="frame">
      <div id="word" style="position:absolute; left:0px;">
        <table>
          <tr>
            <td class="wordBox">Ө</td>
            <td class="wordBox">С</td>
            <td class="wordBox">Ь</td>
            <td class="wordBox">В</td>
            <td class="wordBox">З</td>
            <td class="wordBox">А</td>
            <td class="wordBox">Ш</td>
            <td class="wordBox">Е</td>
            <td class="wordBox">Э</td>
            <td class="wordBox">Н</td>
            <td class="wordBox">Г</td>
            <td class="wordBox">Ю</td>
            <td class="wordBox">Ч</td>
            <td class="wordBox">Р</td>
            <td class="wordBox">Ё</td>
            <td class="wordBox">У</td>
            <td class="wordBox">Ү</td>
            <td class="wordBox">Ж</td>
            <td class="wordBox">Я</td>
            <td class="wordBox">Х</td>
            <td class="wordBox">П</td>
            <td class="wordBox">Щ</td>
            <td class="wordBox">Й</td>
            <td class="wordBox">И</td>
            <td class="wordBox">Т</td>
            <td class="wordBox">Ы</td>
            <td class="wordBox">Ф</td>
            <td class="wordBox">Ц</td>
            <td class="wordBox">Л</td>
            <td class="wordBox">Д</td>
            <td class="wordBox">О</td>
            <td class="wordBox">М</td>
            <td class="wordBox">Б</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="keyboard">
  <div class="keyboard-body">
  <div class="key function space1">Esc</div>
  <div class="key function">F1</div>
  <div class="key function">F2</div>
  <div class="key function">F3</div>
  <div class="key function space2">F4</div>
  <div class="key function">F5</div>
  <div class="key function">F6</div>
  <div class="key function">F7</div>
  <div class="key function space2">F8</div>
  <div class="key function">F9</div>
  <div class="key function">F10</div>
  <div class="key function">F11</div>
  <div class="key function">F12</div>
  <!--f키 종료 -->
    
  <div class="key num dual">~<br>`</div>
  <div class="key num dual">!<br>1</div>
  <div class="key num dual">@<br>2</div>
  <div class="key num dual">#<br>3</div>
  <div class="key num dual">$<br>4</div>
  <div class="key num dual">%<br>5</div>
  <div class="key num dual">^<br>6</div>
  <div class="key num dual">&<br>7</div>
  <div class="key num dual">*<br>8</div>
  <div class="key num dual">(<br>9</div>
  <div class="key num dual">)<br>0</div>
  <div data-key="189" class="key letter">Е</div>
  <div data-key="187" class="key letter">Щ</div>
  <div class="key backspace">Backspace</div>
  <!--넘버 종료 -->
    
  <div class="key tab">Tab</div>
  <div data-key="81" class="key letter">Ф</div>
  <div data-key="87" class="key letter">Ц</div>
  <div data-key="69" class="key letter">У</div>
  <div data-key="82" class="key letter">Ж</div>
  <div data-key="84" class="key letter">Э</div>
  <div data-key="89" class="key letter">Н</div>
  <div data-key="85" class="key letter">Г</div>
  <div data-key="73" class="key letter">Ш</div>
  <div data-key="79" class="key letter">Ү</div>
  <div data-key="80" class="key letter">З</div>
  <div data-key="219" class="key letter">К</div>
  <div data-key="221" class="key letter">Ъ</div>
  <div class="key letter dual slash">|<br>\</div>
  <div class="key caps">Caps<br>Lock</div>
  <div data-key="65" class="key letter">Й</div>
  <div data-key="83" class="key letter">Ы</div>
  <div data-key="68" class="key letter">Б</div>
  <div data-key="70" class="key letter">Ө</div>
  <div data-key="71" class="key letter">А</div>
  <div data-key="72" class="key letter">Х</div>
  <div data-key="74" class="key letter">Р</div>
  <div data-key="75" class="key letter">О</div>
  <div data-key="76" class="key letter">Л</div>
  <div data-key="186" class="key letter">Д</div>
  <div data-key="222" class="key letter">П</div>
  <div class="key enter">Enter</div>
  <div class="key shift left">Shift</div>
  <div data-key="90" class="key letter">Я</div>
  <div data-key="88" class="key letter">Ч</div>
  <div data-key="67" class="key letter">Ё</div>
  <div data-key="86" class="key letter">С</div>
  <div data-key="66" class="key letter">М</div>
  <div data-key="78" class="key letter">И</div>
  <div data-key="77" class="key letter">Т</div>
  <div data-key="188" class="key letter">Ь</div>
  <div data-key="190" class="key letter">В</div>
  <div data-key="191" class="key letter">Ю</div>
  <div class="key shift right">Shift</div>
  <div class="key ctrl">Ctrl</div>
  <div class="key"></div>
  <div class="key">Alt</div>
  <div class="key space"></div>
  <div class="key">Alt</div>
  <div class="key"></div>
  <div class="key">Prnt</div>
  <div class="key ctrl">Ctrl</div>
</div>

  <audio data-key="189" src="https://drive.google.com/uc?export=download&id=0B3XkfYbZArSfLXNjSlRoTHVKN2c"></audio>
  <audio data-key="187" src="https://drive.google.com/uc?export=download&id=0B3XkfYbZArSfVzdkM1haVGtRaHM"></audio>
  <audio data-key="81" src="https://drive.google.com/uc?export=download&id=0B3XkfYbZArSfU2NTcXlnODRGcHM"></audio>
  <audio data-key="87" src="https://drive.google.com/uc?export=download&id=0B3XkfYbZArSfamVBVHUyWEMxTnM"></audio>
  <audio data-key="69" src="https://drive.google.com/uc?export=download&id=0B3XkfYbZArSfTksyUC14MDNZc2M"></audio>
  <audio data-key="82" src="https://drive.google.com/uc?export=download&id=0B3XkfYbZArSfcUU5c0dteWFUZDQ"></audio>
  <audio data-key="84" src="https://drive.google.com/uc?export=download&id=0B3XkfYbZArSfbk9LMU5XVFl4WWs"></audio>
  <audio data-key="89" src="https://drive.google.com/uc?export=download&id=0B3XkfYbZArSfZDlGSVB4UFZRRm8"></audio>
  <audio data-key="85" src="https://drive.google.com/uc?export=download&id=0B3XkfYbZArSfbkpha2lyTmZnbms"></audio>
  <audio data-key="73" src="https://drive.google.com/uc?export=download&id=0B3XkfYbZArSfRnNXWnU1OHJ4OXc"></audio>
  <audio data-key="79" src="https://drive.google.com/uc?export=download&id=0B3XkfYbZArSfWDZXdTgxOHgzdTA"></audio>
  <audio data-key="80" src="https://drive.google.com/uc?export=download&id=0B3XkfYbZArSfSTN5S0VIeTBrUFE"></audio>
  <audio data-key="219" src="https://drive.google.com/uc?export=download&id=0B3XkfYbZArSfNlI3VExlTTI3VEE"></audio>
  <audio data-key="221" src="https://drive.google.com/open?id=0B3XkfYbZArSfTmdEeENJbHEwR0k"></audio>
  <audio data-key="65" src="https://drive.google.com/uc?export=download&id=0B3XkfYbZArSfU0hyeGZfbzJod1E"></audio>
  <audio data-key="83" src="https://drive.google.com/uc?export=download&id=0B3XkfYbZArSfT1lfZzJmc2YxaUU"></audio>
  <audio data-key="68" src="https://drive.google.com/uc?export=download&id=0B3XkfYbZArSfV1hpMUhoOExHTFk"></audio>
  <audio data-key="70" src="https://drive.google.com/uc?export=download&id=0B3XkfYbZArSfWWoxTFM3ZVRfUU0"></audio>
  <audio data-key="71" src="https://drive.google.com/uc?export=download&id=0B3XkfYbZArSfUUFzaFBvRzdEUzg"></audio>
  <audio data-key="72" src="https://drive.google.com/uc?export=download&id=0B3XkfYbZArSfZjVxMDV6em5XRGM"></audio>
  <audio data-key="74" src="https://drive.google.com/uc?export=download&id=0B3XkfYbZArSfQVJiSld6SFY1eUE"></audio>
  <audio data-key="75" src="https://drive.google.com/uc?export=download&id=0B3XkfYbZArSfZjN3Ti1fT1JDV0k"></audio>
  <audio data-key="76" src="https://drive.google.com/uc?export=download&id=0B3XkfYbZArSfQllENFRIb0JoZTA"></audio>
  <audio data-key="186" src="https://drive.google.com/uc?export=download&id=0B3XkfYbZArSfVHB2TXVId1FUd28"></audio>
  <audio data-key="222" src="https://drive.google.com/uc?export=download&id=0B3XkfYbZArSfS3ZRWGRfbzBFWjQ"></audio>
  <audio data-key="90" src="https://drive.google.com/uc?export=download&id=0B3XkfYbZArSfcHZtTDV2eURCUGM"></audio>
  <audio data-key="88" src="https://drive.google.com/uc?export=download&id=0B3XkfYbZArSfc2ZYTlAyWlZXbmc"></audio>
  <audio data-key="67" src="https://drive.google.com/uc?export=download&id=0B3XkfYbZArSfcnN6NHYyV1hXWmM"></audio>
  <audio data-key="86" src="https://drive.google.com/uc?export=download&id=0B3XkfYbZArSfd1d2dld2V2VFMG8"></audio>
  <audio data-key="66" src="https://drive.google.com/uc?export=download&id=0B3XkfYbZArSfbzZweDRlSnJQQ1E"></audio>
  <audio data-key="78" src="https://drive.google.com/uc?export=download&id=0B3XkfYbZArSfalpGRlFHY1FNZDA"></audio>
  <audio data-key="77" src="https://drive.google.com/uc?export=download&id=0B3XkfYbZArSfN3J3REZ1SUhscjg"></audio>
  <audio data-key="188" src="https://drive.google.com/uc?export=download&id=0B3XkfYbZArSfN1BtM29NaTd1aWM"></audio>
  <audio data-key="190" src="https://drive.google.com/uc?export=download&id=0B3XkfYbZArSfbVVRd2FIdFpnTFU"></audio>
  <audio data-key="191" src="https://drive.google.com/uc?export=download&id=0B3XkfYbZArSfd0lnUkhyT2VyS2c"></audio>  
